<div class="container">
  <h1>{{title}}</h1>
  <h2 class="txt__sub">Answer no.1</h2>
  <div class="input__group">
    <label for="">Recursion Iteration Multiply</label>
    <input #searchBox type="text" class="input__inner" 
    placeholder="Input a Number.." 
    [(ngModel)]="recursionInput"
    (keydown.enter)="onKeydown('recursionMultiply')">
    <div class="input__group--row">
      <button (click)="onKeydown('recursionMultiply')">Submit</button>
      <span *ngIf="recursionResult" class="result">Result: {{recursionResult}}</span>
    </div>
  </div>
  <div class="input__group">
    <label for="">Cached Number</label>
    <input #searchBox type="text" class="input__inner" 
    placeholder="Input a Number.."
    [(ngModel)]="cachedInput"
    (keydown.enter)="onKeydown('cachedNumber')">
    <div class="input__group--row">
      <button (click)="onKeydown('cachedNumber')">Submit</button>
      <span *ngIf="cachedNumber" class="result">Result: {{cachedNumber}}</span>
    </div>
  </div>
  <h2 class="txt__sub">Answer no.2</h2>
  <div class="input__group">
    <label for="">Highest Order</label>
    <input #searchBox type="text" class="input__inner" 
    placeholder="Input an Array.."
    [(ngModel)]="orderInput"
    (keydown.enter)="onKeydown('sortOrder')">
    <div class="example">example input: table, chair, drawer, chair (no spacing)</div>
    <div class="input__group--row">
      <button (click)="onKeydown('sortOrder')">Submit</button>
      <span *ngIf="orderResult" class="result">Result: {{orderResult}}</span>
    </div>
  </div>
</div>  